@model SAS_Backend_Task_1.Models.UserModel

<h1>Are you sure you want to leave? :(</h1>

<div>
    <p>This action cannot be undone (and do not come crying!)</p>
    <form method="post">
        <input type="submit" value="Delete!" />
    </form>
</div>